<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>New Message</h1>
    <form method='POST' action='/new'>
        <input type='text' placeholder='Name' name='user'>
        <input type='text' placeholder='Message' name='text'>
        <button>Post</button>
    </form>
  </body>
</html>